<h2>{{prompt}}</h2>

<ul class="candidates">
	<li *ngFor="c of candidates" 
	    [attr.class]="'candidate '+c.color" 
	    [attr.tabindex]="i" 
	    (click)="ballot.candidate = c.name" >
		{{c.name}}
	</li>
</ul>

<form action="/vote" method="post">
	<input class="vote" [(ngModel)]="ballot.candidate" id="vote" name="vote"/>
	<input type="hidden" [(ngModel)]="ballot.instance" name="instance" /><br/>
	<input class="button" (click)="vote()" type="submit" id="submit" value="Vote"/>
</form>

<ul class="statistics" *ngIf="statistics">
	<li *ngFor="let candidate of statistics.candidates" 
	    [attr.class]="candidate.color" 
	    [attr.id]="candidate.id" 
	    [style.width.%]="candidate.percentage" 
	    [attr.data-count]="candidate.count">
		<div class="name">{{ candidate.name }}</div>
		<div class="count">{{ candidate.count }}</div>
	</li>
</ul>
